.reveal .title {
  background-image: url(https://dartmouth-cs52-20x.github.io/assets/imgs/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  border-radius: 10px;
}
.reveal .slides {
  color: #222222;
}